 
div#slider{
    margin-top:30vh;
    display:flex;
    align-items: center;
    flex-direction: column;
}
div#slider input{
    flex:1;
    width: 50%;
}
div#slider>div{
    display:flex;
    width: 50%;
    flex:1;
    justify-content: space-between;
}
div#slider>div#values>div{
    display: flex;
    flex:1;
    justify-content: center;
}

